.buttonText {
    -fx-font-family: "Montserrat";
    -fx-font-size: 15px;
}

.headerRow {
    -fx-font-family: "Montserrat SemiBold";
    -fx-font-size: 12px;
    -fx-text-fill: #6e6b7b;
}

.controlButton {
    -fx-font-family: "Montserrat SemiBold";
    -fx-font-size: 13px;
}

.headingText {
    -fx-font-family: "Montserrat SemiBold";
    -fx-font-size: 14px;
}

.mfx-filter-combo-box{
    -fx-background-color: #FFFFFF;
    -fx-border-color: #D3D3D3;
    -fx-border-radius: 5;
    -fx-font-size: 12px;
}

.mfx-filter-combo-box:focus-within{
    -mfx-color:#0F60FF;
}


.table-view .column-header * {
    -fx-background-color: #F3F2F7;
    -fx-text-fill: #6E6B7B;
}

.table-view .column-header,
.table-view .column-header .filler,
.table-view .column-header-background .filler {
    -fx-background-color: #F3F2F7;
}

.totalsText {
    -fx-font-family: "Montserrat";
    -fx-font-size: 14px;
    -fx-text-fill: BLACK;
}





