.profileIcon {
    -fx-font-family: "Montserrat Medium";
    -fx-font-size: 18px;
    -fx-background-radius: 25px;
}

.logo {
    -fx-font-family: "Montserrat SemiBold";
    -fx-font-size: 27px;
	
}

.tableHeader {
    -fx-font-family: "Montserrat Medium";
    -fx-font-size: 18px;
    -fx-text-fill: #6e6b7b;
}

.tableSubHeader {
    -fx-font-family: "Montserrat";
    -fx-font-size: 13px;
    -fx-text-fill: #6e6b7b;
}

.mfx-table-view .virtual-flow .mfx-table-row{
    -fx-border-color: #E0E0E0;
    -fx-border-width: 1px;
    -fx-border-style: hidden hidden solid hidden;
}

.mfx-table-row-cell{
    -fx-font-family: "Montserrat";
    -fx-font-size: 12px;
    -fx-cell-size: 400px;
    -mfx-cell-size: 400px;
}

.table-row-cell {
    -fx-cell-size: 400px;
}

.mfx-table-view{
    -fx-border-color: #FFFFFF;
    -fx-padding: 0 0 0 0;
    -fx-wrap-text: true;
}

.mfx-table-view .columns-container{
    -fx-background-color: #F3F2F7;
    -fx-border-color: #F3F2F7;
    -fx-highlight-fill: #F3F2F7;
    -fx-wrap-text: true;
}

.mfx-table-view .columns-container .mfx-table-column{
    -fx-background-color: #F3F2F7;
    -fx-border-color: #F3F2F7;
    -fx-font-family: "Montserrat SemiBold";
    -fx-text-fill: #6E6B7B;
    -fx-wrap-text: true;
}

.popOverTitle{
    -fx-font-family: "Montserrat Medium";
    -fx-font-size: 16px;
}

.popOverButton{
    -fx-font-family: "Montserrat Medium";
    -fx-font-size: 16px;
}

.mfx-text-field .floating-text{
    -fx-font-family: "Montserrat";
}

.mfx-text-field:focus-within {
    -fx-border-color: #0F60FF;
}
.mfx-text-field:focus-within  .floating-text{
    -fx-text-fill: #0F60FF;
}

.mfx-date-picker .date-picker-popup .content{
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0.0, 2.0);
}

.mfx-filter-pane{
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0.0, 2.0);
    -fx-background-color: #0F60FF;
    -mfx-color: #0F60FF;
}

.mfx-date-picker:focus-within .mfx-icon-wrapper .mfx-font-icon{
    -mfx-color: #0F60FF;
}

.mfx-date-picker .date-picker-popup .months-combo:focus-within,
.mfx-date-picker .date-picker-popup .years-combo:focus-within {
    -fx-text-fill: #0F60FF;
}

.mfx-date-picker .date-picker-popup .years-combo .combo-popup .virtual-flow .data-label:selected{
    -fx-text-fill: #0F60FF;
}

.mfx-date-picker .date-picker-popup .months-combo .virtual-flow .mfx-combo-box-cell:selected .label,
.mfx-date-picker .date-picker-popup .years-combo .virtual-flow .mfx-combo-box-cell:selected .label {
    -fx-text-fill: #0F60FF;
}

.mfx-checkbox:selected{
    -mfx-main: #0F60FF;
}





