.profileIcon {
    -fx-font-family: "Montserrat Medium";
    -fx-font-size: 18px;
    -fx-background-radius: 25px;
}

.logo {
    -fx-font-family: "Montserrat SemiBold";
    -fx-font-size: 27px;
	
}

.mfx-table-view .columns-container{
    -fx-background-color: #F3F2F7;
    -fx-border-color: #F3F2F7;
    -fx-highlight-fill: #F3F2F7;
}

.mfx-table-view .columns-container .mfx-table-column{
    -fx-background-color: #F3F2F7;
    -fx-border-color: #F3F2F7;
    -fx-font-family: "Montserrat SemiBold";
    -fx-text-fill: #6E6B7B;
}

