.mygridStyle Line {
    -fx-stroke: #b1b1b1 !important;
    -fx-stroke-width: 1px !important;
}

.headerCell{
    -fx-background-color: #F3F2F7;
    -fx-text-fill: #6E6B7B;
}

.disableText{
    -fx-background-color: #E6E6E6;
}

.altText{
    -fx-background-color: #F9F9F9;
}

.mfx-text-field {
    -fx-border-radius: 0 !important;
}

.mfx-text-field .text-field {
    -fx-border-radius: 0 !important;
}