.buttonText {
    -fx-font-family: "Montserrat";
    -fx-font-size: 15px;
}

.headerRow {
    -fx-font-family: "Montserrat SemiBold";
    -fx-font-size: 12px;
    -fx-text-fill: #6e6b7b;
}

.controlButton {
    -fx-font-family: "Montserrat SemiBold";
    -fx-font-size: 13px;
}

.headingText {
    -fx-font-family: "Montserrat SemiBold";
    -fx-font-size: 14px;
}

.tableHeader {
    -fx-font-family: "Montserrat Medium";
    -fx-font-size: 18px;
    -fx-text-fill: #6e6b7b;
}

.mfx-scroll-pane .scroll-bar:vertical {
    -fx-unit-increment: 10 ;
    -fx-block-increment: 50 ;
}

.mfx-scroll-pane .scroll-bar:horizontal {
    -fx-unit-increment: 5 ;
    -fx-block-increment: 20 ;
}





