.loginbg {
    -fx-background-image: url("../../images/LOGIN%20BG.jpg");
    -fx-background-size: cover;
    -fx-background-position: right top;
}

.Heading {
    -fx-font-family: "Montserrat Medium";
    -fx-font-size: 27px;
}

.SubHeading {
    -fx-font-family: "Montserrat";
    -fx-font-size: 16px;
}

.userInput{
    -fx-font-family: "Montserrat";
    -fx-font-size: 18px;
    -fx-text-fill: #6e6b7b;
}

.userInputLabel{
    -fx-font-family: "Montserrat";
    -fx-font-size: 14px;
}

.button {
    -fx-font-family: "Montserrat SemiBold";
    -fx-font-size: 16px;
    -fx-font-smoothing-type: gray;
}

.mfx-progress-bar .bar1{
    -mfx-color: #0F60FF;
    -fx-fill: #0F60FF;
}

.mfx-progress-bar .bar2{
    -mfx-color: #0F60FF;
    -fx-fill: #0F60FF;
}

.mfx-progress-bar .track{
    -fx-fill: WHITE;
}


