.sideBarButton {
    -fx-font-family: "Montserrat Medium";
    -fx-font-size: 15px;
    -fx-font-smoothing-type: gray;
}

.logOutButton {
    -fx-font-family: "Montserrat SemiBold";
    -fx-font-size: 12px;
}

.animated-option-button {
    -fx-pref-width:50px;
    -fx-background-color:#0F60FF;
    -fx-background-radius:50px;
    -fx-pref-height:50px;
    -fx-text-fill:white;
}

.animated-option-sub-button {
    -fx-pref-width:50px;
    -fx-background-color:#A1A1A1;
    -fx-background-radius:50px;
    -fx-pref-height:50px;
    -fx-text-fill:BLACK;
}

.userNameText {
    -fx-font-family: "Montserrat";
    -fx-font-size: 14px;
}

.mfx-combo-box {
    -fx-font-family: "Montserrat";
    -fx-padding: 4;
    -fx-background-insets: 0;
    -fx-font-size: 14px;
}

.mfx-combo-box .text-field {
    -fx-prompt-text-fill: white;
}

.mfx-combo-box .combo-popup .text-field {
    -fx-prompt-text-fill: -mfx-text-me;
}

.mfx-combo-box .caret .mfx-font-icon {
    -mfx-color: #6e6b7b;
}

.mfx-combo-box .caret .mfx-ripple-generator {
    -mfx-ripple-color: rgba(255, 255, 255, 0.5);
}



