.yellowColumn{
    -fx-background-color: rgba(255, 244, 215, 0.5);
}

.yellowHeader{
    -fx-background-color: #ffd966;
}

.blueColumn{
    -fx-background-color: rgba(141, 179, 226, 0.3);
}

.blueHeader {
    -fx-background-color: #8db3e2;
}

.orangeColumn{
    -fx-background-color: rgba(250, 191, 143, 0.3);
}

.orangeHeader{
    -fx-background-color: #fabf8f;
}

.redColumn{
    -fx-background-color: rgba(224, 102, 102, 0.3);
}

.redHeader{
    -fx-background-color: #e06666;
}

.pinkColumn{
    -fx-background-color: rgba(255, 71, 255, 0.3);
}

.pinkHeader{
    -fx-background-color: #ff47ff;
}

.greenColumn{
    -fx-background-color: rgba(182, 215, 168, 0.3);
}

.greenHeader {
    -fx-background-color: #b6d7a8;
}


.table-view .column-header * {
    -fx-background-color: #F3F2F7;
    -fx-text-fill: #6E6B7B;
}

.table-view .column-header,
.table-view .column-header .filler,
.table-view .column-header-background .filler {
    -fx-background-color: #F3F2F7;
}

.center-aligned {
    -fx-alignment: CENTER;
}

.table-view .table-column{
    -fx-alignment: CENTER;
}

/*.table-row-cell {*/
/*    !* Define the default (light) row color here. *!*/
/*    -fx-background: white;*/
/*}*/

/*.table-row-cell:odd {*/
/*    !* Define the alternate (dark) row color here. *!*/
/*    -fx-background: lightgray;*/
/*}*/

