.mfx-rectangle-toggle-node{
    -fx-background-color: TRANSPARENT;
    -fx-text-fill: #6e6b7b;
    -fx-font-family: "Montserrat";
}

.mfx-rectangle-toggle-node:selected{
    -fx-background-color: #D3D3D3;
    -fx-text-fill: WHITE;
    -fx-font-family: "Montserrat SemiBold";
}





