@import 'Common.css';
@import 'MFXColors.css';

.controlButton {
    -fx-font-family: "Montserrat SemiBold";
    -fx-font-size: 13px;
}

.headingText {
    -fx-font-family: "Montserrat SemiBold";
    -fx-font-size: 14px;
}

.refreshButton{
    -fx-font-family: "Montserrat Medium";
    -fx-font-size: 15px;
}

.mfx-filter-combo-box{
    -fx-background-color: WHITE;
    -fx-border-color: #D3D3D3;
    -fx-border-radius: 5;
    -fx-font-size: 12px;
    -mfx-gap: 5.0;
}

.mfx-filter-combo-box .floating-text{
    -fx-background-color: TRANSPARENT;
}

.mfx-filter-combo-box:focus-within{
    -mfx-color:#0F60FF;
}

.mfx-combo-box{
    -fx-background-color: WHITE;
    -fx-border-color: #D3D3D3;
    -fx-border-radius: 5;
    -fx-font-size: 12px;
    -mfx-gap: 5.0;
}

.mfx-combo-box:disabled{
    -fx-border-color: #E7E7E7;
}

.mfx-combo-box:focus-within{
    -mfx-color:#0F60FF;
}




